<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!--    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />

            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locale_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPitch"
        tools:targetApi="tiramisu">

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@mipmap/ic_launcher" />

        <receiver
            android:name=".PlayMusicWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/play_music_widget_info" />
        </receiver>

        <activity
            android:name=".WidgetConfigActivity"
            android:exported="true"
            android:theme="@style/Theme.MusicPitch">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ErrorTipActivity"
            android:process=":error_process"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|locale|layoutDirection"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.MusicPitch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 2. Alias for "Play Music" -->
        <activity-alias
            android:name=".PlayNextAlias"
            android:exported="true"
            android:label="Play Next"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />

                <data android:mimeType="audio/mpeg" />
                <data android:mimeType="audio/mp3" />
                <data android:mimeType="audio/x-mp3" />
                <data android:mimeType="audio/flac" />
                <data android:mimeType="audio/x-flac" />
                <data android:mimeType="audio/mp4" />
                <data android:mimeType="audio/m4a" />
                <data android:mimeType="audio/x-m4a" />
                <data android:mimeType="audio/aac" />
                <data android:mimeType="audio/aac-adts" />
                <data android:mimeType="audio/wav" />
                <data android:mimeType="audio/x-wav" />
                <data android:mimeType="audio/wave" />
                <data android:mimeType="audio/ogg" />
                <data android:mimeType="audio/x-ogg" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="audio/opus" />
                <data android:mimeType="audio/webm" />
                <data android:mimeType="audio/x-matroska" />
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="audio/mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/x-matroska" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/quicktime" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.m3u" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.M3U" />
                <data android:pathPattern=".*\\.M3U8" />
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.webm" />
                <data android:pathSuffix=".m3u" />
                <data android:pathSuffix=".m3u8" />
                <data android:pathSuffix=".M3U" />
                <data android:pathSuffix=".M3U8" />
                <data android:pathSuffix=".mp4" />
                <data android:pathSuffix=".mkv" />
                <data android:pathSuffix=".webm" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ClearQueueAndPlayAlias"
            android:exported="true"
            android:label="Clear queue and Add to play"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />

                <data android:mimeType="audio/mpeg" />
                <data android:mimeType="audio/mp3" />
                <data android:mimeType="audio/x-mp3" />
                <data android:mimeType="audio/flac" />
                <data android:mimeType="audio/x-flac" />
                <data android:mimeType="audio/mp4" />
                <data android:mimeType="audio/m4a" />
                <data android:mimeType="audio/x-m4a" />
                <data android:mimeType="audio/aac" />
                <data android:mimeType="audio/aac-adts" />
                <data android:mimeType="audio/wav" />
                <data android:mimeType="audio/x-wav" />
                <data android:mimeType="audio/wave" />
                <data android:mimeType="audio/ogg" />
                <data android:mimeType="audio/x-ogg" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="audio/opus" />
                <data android:mimeType="audio/webm" />
                <data android:mimeType="audio/x-matroska" />
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="audio/mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/x-matroska" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/quicktime" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.m3u" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.M3U" />
                <data android:pathPattern=".*\\.M3U8" />
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.webm" />
                <data android:pathSuffix=".m3u" />
                <data android:pathSuffix=".m3u8" />
                <data android:pathSuffix=".M3U" />
                <data android:pathSuffix=".M3U8" />
                <data android:pathSuffix=".mp4" />
                <data android:pathSuffix=".mkv" />
                <data android:pathSuffix=".webm" />
            </intent-filter>
        </activity-alias>
        <!-- 3. Alias for "Add to Queue" -->
        <activity-alias
            android:name=".AddToQueueAlias"
            android:exported="true"
            android:label="Add to Queue"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />

                <data android:mimeType="audio/mpeg" />
                <data android:mimeType="audio/mp3" />
                <data android:mimeType="audio/x-mp3" />
                <data android:mimeType="audio/flac" />
                <data android:mimeType="audio/x-flac" />
                <data android:mimeType="audio/mp4" />
                <data android:mimeType="audio/m4a" />
                <data android:mimeType="audio/x-m4a" />
                <data android:mimeType="audio/aac" />
                <data android:mimeType="audio/aac-adts" />
                <data android:mimeType="audio/wav" />
                <data android:mimeType="audio/x-wav" />
                <data android:mimeType="audio/wave" />
                <data android:mimeType="audio/ogg" />
                <data android:mimeType="audio/x-ogg" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="audio/opus" />
                <data android:mimeType="audio/webm" />
                <data android:mimeType="audio/x-matroska" />
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="audio/mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/x-matroska" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/quicktime" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.m3u" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.M3U" />
                <data android:pathPattern=".*\\.M3U8" />
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.webm" />
                <data android:pathSuffix=".m3u" />
                <data android:pathSuffix=".m3u8" />
                <data android:pathSuffix=".M3U" />
                <data android:pathSuffix=".M3U8" />
                <data android:pathSuffix=".mp4" />
                <data android:pathSuffix=".mkv" />
                <data android:pathSuffix=".webm" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".play.PlayService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="androidx.media3.session.MediaLibraryService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="true"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <receiver
            android:name="androidx.media3.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                android:value="androidx.startup" />
        </provider>
        <!--        <receiver android:name=".utils.BluetoothConnectionReceiver" android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
    </application>

</manifest>